[submodule "extras/fonts/leaguemono"]
	path = extras/fonts/leaguemono
	url = https://github.com/kshvmdn/leaguemono
[submodule "extras/sublime-text-3/themes/github-textmate-theme"]
	path = extras/sublime-text-3/themes/github-textmate-theme
	url = https://github.com/primer/github-textmate-theme
[submodule "vim/.vim/bundle/editorconfig-vim"]
	path = vim/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/.vim/bundle/vim-colors-paramount"]
	path = vim/.vim/bundle/vim-colors-paramount
	url = https://github.com/owickstrom/vim-colors-paramount
[submodule "vim/.vim/bundle/vim-gitgutter"]
	path = vim/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/.vim/bundle/vim-godef"]
	path = vim/.vim/bundle/vim-godef
	url = https://github.com/dgryski/vim-godef
[submodule "vim/.vim/bundle/vim-numbertoggle"]
	path = vim/.vim/bundle/vim-numbertoggle
	url = git://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/.vim/bundle/vim-repeat"]
	path = vim/.vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/bundle/vim-go"]
	path = vim/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim/.vim/bundle/vim-colors-off"]
	path = vim/.vim/bundle/vim-colors-off
	url = https://github.com/pbrisbin/vim-colors-off
[submodule "vim/.vim/bundle/vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/.vim/bundle/vim-vingegar"]
	path = vim/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "vim/.vim/bundle/vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/.vim/bundle/vim-slime"]
	path = vim/.vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/.vim/bundle/vim-sneak"]
	path = vim/.vim/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/bundle/ale"]
	path = vim/.vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "vim/.vim/bundle/vim-multiple-cursors"]
	path = vim/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
