#!/usr/bin/env bash

# Always enable colored `grep` output
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'

# `ls`
alias ls='ls -F'
alias ll='ls -lhiF'
alias la='ls -alhiF'
alias lt='ls -Alhrt'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd'
alias -- -='cd -'

# Shortcuts
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias ws='cd ~/workspace'
alias dots='ws && cd src/github.com/kshvmdn/dotfiles'
alias sc='ws && cd src/github.com/kshvmdn/uoft'

# Toggle Desktop icons
alias desktop-hide='defaults write com.apple.finder CreateDesktop -bool false && killall Finder'
alias desktop-show='defaults write com.apple.finder CreateDesktop -bool true && killall Finder'

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Toggle hidden files in Finder
alias hidden-hide='defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder'
alias hidden-show='defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder'

# IP addresses
alias iploc='ipconfig getifaddr en0'
alias ippub='dig +short myip.opendns.com @resolver1.opendns.com'

# Reload the shell (i.e. invoke as a login shell)
alias reload='exec $SHELL -l'

# :)
alias :q='exit 0'
