#!/usr/bin/env bash

# Editor
export EDITOR=vim

# Don't clear the screen after quitting a manual page.
export MANPAGER="less -X"

# Prompts
GIT_PS1_SHOWDIRTYSTATE=true
GIT_PS1_SHOWSTASHSTATE=true
GIT_PS1_SHOWUNTRACKEDFILES=true
GIT_PS1_SHOWUPSTREAM=auto
export PS1="\[\033]0;\$(shortpwd)\007\]\W\$(__git_ps1 ' (%s)') \[$(tput bold)$(tput setaf 5)\]\$\[$(tput sgr0)\] "
export PS2="\[$(tput setaf 37)\]→ \[$(tput sgr0)\]"

# Increase Bash history size (default is 500), omit duplicates and commands
# that begin with a space from history.
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoreboth

# Enable persistent REPL history for `node`, allow upto 32³ entries (default is
# 1000), and use sloppy mode by default, matching web browsers.
export NODE_REPL_HISTORY=~/.node_history
export NODE_REPL_HISTORY_SIZE=32768
export NODE_REPL_MODE=sloppy

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING="UTF-8"

# Go
export GOPATH="$HOME/go"

# GPG
export GPG_TTY="$(tty)"

# Android
export ANDROID_HOME="$(brew --prefix)/share/android-sdk"

# Update $PATH.
for DIR in "${HOME}/.cargo/bin" "${GOPATH}/bin"; do
  if [[ -d "$DIR" && ":$PATH:" != *":$DIR"* ]]; then
    export PATH="${PATH}:$DIR"
  fi
done
unset DIR
